body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("images/Summer Beach GIF.gif") no-repeat center center;
    background-size: cover;
    text-align: center;
}

.home-container {
    padding: 40px;
    background-color: #de5656;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(55, 5, 5, 0.2);
    max-width: 90%;
}

h1 {
    margin-bottom: 30px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}

p {
    margin-bottom: 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.btn-portfolio {
    padding: 12px 25px;
    background-color: #4276a7;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ,transform 0.2s;
    margin: 10px;
    display: inline-block;
}

.btn-portfolio:hover {
    background-color: #04497a;

    transform: scale(1.05);
}
