/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #3a2f2f;
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3a2f2f;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Sections */
section {  
    padding: 100px 20px;
    min-height: 100vh;
    text-align: center;
}

#about {
    background-color: #e7c7c7;
}

.profile-pic {
    width: 400px;
    height: 400px;
    border-radius: 20%;
    margin: 20px 0;
    object-fit: cover;
}

#showcase {
    padding: 80px 20px;
    background-color: #d98260;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    margin-top: 40px;
}

/* Skills Grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-auto-rows: 250px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
}

/* Card Grid */
.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-auto-rows: 250px;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.card {
    background-color: #3a2f2f;
    color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact {
    background-color: #4276a7;
    padding: 30px 10px;
    color: #1d2358;
    height: auto;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #1d2358;
    font-weight: bold;
}

.social-links a:hover {
    color: #ffffff;
}

